<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thymeleaf Form handling Demo</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
</head>
<body class="container">
    <h1 class="py-5">Thymeleaf Form handling Demo</h1>
    <form method="post" th:action="@{/views/add-azienda}" th:object="${aziende}" class="col card p-3 mb-5">
        <div class="form-group">
            <label for="ragioneSociale">Ragione Sociale</label>
            <input id="ragioneSociale" placeholder="Inserisci Ragione Sociale" required type="text" th:field="*{ragioneSociale}"
                   class="form-control"/>
        </div>
        <div class="form-group">
            <label for="indirizzo">Indirizzo</label>
            <input id="indirizzo" placeholder="Inserisci l'indirizzo" required type="text" th:field="*{indirizzo}"
                   class="form-control"/>
        </div>
        <div class="form-group">
            <label for="telefono">Telefono</label>
            <input id="telefono" placeholder="Inserisci il telefono" required type="text" th:field="*{telefono}"
                   class="form-control"/>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" placeholder="Inserisci l'email" required type="text" th:field="*{email}"
                   class="form-control"/>
        </div>
        <!--<div class="form-group">
            <label for="role">Role</label>
            <select id="role" required th:field="*{role}" class="form-control ">
                <option value="" hidden>Select a role</option>
                <option th:each="role : ${T(com.springhow.examples.springboot.thymeleaf.domain.entities.Role).values()}"
                        th:value="${role}"
                        th:text="${role}">
                </option>
            </select>
        </div>-->
        <input type="submit" class="btn btn-primary" value="Aggiungi Azienda">
    </form>
    <table class="table table-striped table-bordered">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Role</th>
            <th>Created At</th>
        </tr>
        <tr th:if="${#lists.isEmpty(aziende)}">
            <td colspan="5">No Records found. Add some...!</td>
        </tr>
        <tr th:each="azienda : ${aziende}">
            <td th:text="${azienda.ragioneSociale}"></td>
            <td th:text="${azienda.indirizzo}"></td>
            <td th:text="${azienda.telefono}"></td>
            <td th:text="${azienda.email}"></td>
        </tr>
    </table>
</body>
</html>